@charset "UTF-8";

#head{
	
background-color: blue;
color: white;
height: 100px;
align-content: center;	
padding-left:600px; 
border: none;
}

#reg{
	
	background-color: #41ca35;
	color: white;
	border-radius: 10px;
	padding: 5px;
}

#spec{
	
	background-color: #8080ff;
	color: white;
}
body{
	
	background-color: aqua;
	
}

#reg:hover {
	background-color: #575559;
	color: white;
}
